.footer{
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    &__par{
        color: #B9B9B9;
        max-width: 684px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    &__title{
        color: white;
        margin-top: 0;
    }
    &__contacts{
        color: #B9B9B9;

    }
    &__icon-wrapper{
        padding-bottom: 20px;
        padding-top: 20px;
    }
}