.header{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    margin-bottom: 45px;
    &__nav:hover{
        color: #57A4A4;
    }
    &__nav{
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 22px;
        padding-left: 10px;
        padding-right: 20px;
    }

}
.promo-photo{
    margin: 0 auto;
    width: 100%;
}

.burger {
    display: inline-block;
    cursor: pointer;
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
.nav{
    position: relative;
}
@media screen and (max-width: 1200px) and (min-width: 768px){
    .wrapper{
        max-width: 768px;
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 767px) and (min-width: 320px){
    .header{
        display: none;
        position: absolute;
        top:-15px;
        left:0;
    }
    .header.active{
        display: flex;
        flex-direction: column;
        background-color: rgb(219, 219, 208);
    }
    .wrapper{
        max-width: 320px;
        margin: 0 auto;
    }
    .burger{
        display: block;
    }
    .header__nav:hover{
        background-color: rgb(197, 197, 176);
    }
}