@import 'header.scss';
@import 'variables.scss';
@import 'our-recent-posts.scss';
@import 'posts.scss';
@import 'footer.scss';

body{
    font-family: 'Roboto', sans-serif;
    
}
.wrapper{
    margin: 0 auto;
    max-width: 1170px;
}