.our-recent-posts-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding-top: 66px;
    padding-bottom: 25px;
}
.our-recent-posts{
    display: flex;
    &__for-flex{
        padding-right: 40px;
    }
    &__item{
        display: flex;
        padding-bottom: 30px;
    }
    &__heading{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
    }
    &__img{
        padding-right: 20px;
    }
    &__comments{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
    }
    &__parg{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px){
    .our-recent-posts{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px){
    .our-recent-posts{
        display: flex;
        flex-direction: column;
    }
    .our-recent-posts__parg{
        display: none;
    }  
    .our-recent-posts__item{
        display: flex;
        flex-direction: column;
    }
    .our-recent-posts__img{
        width: 160px;
    }
}