.posts{
    background-color: rgb(231, 231, 220);
    padding-bottom: 45px;
    &__head-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;
        padding-top: 40px;
    }
    &__heading{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
    }
    &__link{
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 22px;
    }
    &__img-wrapper{
        display: flex;
        justify-content: space-between;
    }


}
@media screen and (max-width: 1200px) and (min-width: 768px){
    .tablet{
        display: none;
    }
    .posts__img-wrapper{
        display: flex;
        justify-content: space-around;
    }
    .posts__img{
        width: 250px;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px){
    .mob{
        display: none;
    }
    .posts__img-wrapper{
        display: flex;
        justify-content: center;
    }
    .posts__img{
        width: 300px;
    }
    .posts__link{
        display: none;
    }
    .posts{
        background-color: white;
    }
}